

/* mealTable.css*/
.meal-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.meal-table th,
.meal-table td {
  border: 1.5px solid #333;
  padding: 8px;
  vertical-align: middle;
}

.meal-table td:first-child,
.meal-table th:first-child {
  background-color: #e6f4ff;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.meal-table th:not(:first-child),
.meal-table td:not(:first-child) {
  width: calc((100% - 100px) / 5);
  min-width: 0;
}

.meal-type-cell {
  font-size: 2.0rem;
  background-color: #e6f4ff;
  font-weight: bold;
}

.meal-table th {
  background-color: #e6f4ff;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
}

.category-row {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 0.2rem;
  border-bottom: 1px solid #ddd;
}

.category-row:last-child {
  border-bottom: none;
}
.no-meal-message {
  text-align: center;
  color: #999;
  padding: 1rem 0;
  font-style: italic;
}

.category-name {
  width: 80px;
  font-weight: bold;
  color: #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #333;
  margin: 0;
  padding: 0;
}

.food-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  padding: 4px 0 4px 4px;
  margin: 0;
}

.food-item {
  cursor: pointer;
  color: black;
  padding-right: 8px;
}

.food-item.highlighted {
  background-color: yellow;
}

.no-food {
  color: #999;
}
